node_modules
package-lock.json
yarn.lock
.DS_Store
dist
dist-ssr
*.local
HELP.md
**/target/
**/dist/

/dist
/target

auto-upload.js


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


### VS Code ###
.vscode/
