@import './element-plus.scss';
@import './_variables.scss';

/* 全局样式定义 */
* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  color: var(--primary-text-color, $primary-text-color);
}

body {
  margin: 0;
}

.clearfix::after {
  display: table;
  clear: both;
  content: '';
}

.mask-zIndex99 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: #0003;
}

.flex-justify-around {
  display: flex;
  justify-content: space-around;
}

.flex-justify-between {
  display: flex;
  justify-content: space-between;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.hover-shadow:hover {
  box-shadow: 0 4px 12px 0 #0000001a;
}

// css3 自定义滚动条 https://www.jianshu.com/p/c2addb233acd
// 自定义滚动条介绍 https://www.cnblogs.com/ranyonsue/p/9487599.html
::-webkit-scrollbar {
  z-index: 0;
  width: $scrollbar-width;
  height: $scrollbar-width;
}

::-webkit-scrollbar-thumb {
  background-color: skyblue;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  //background-color: white;
}
